.containerChat_User_Container_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.containerChat_User_Container_footer ion-icon {
  font-size: 1.5em;
  padding: 5px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.containerChat_User_Container_footer ion-icon:hover {
  color: rgba(255, 255, 255, 0.5);
}

.containerChat_User_Container_footer_input {
  min-width: 80%;
  height: 35px;
  color: #272323;
  background-color: transparent;
  border: 0;
  font-size: 1em;
  padding-left: 8px;
}
.containerChat_User_Container_footer_emojis{
  position: absolute;
  bottom: 120px;
  right: 100px;
  width: 300px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.containerChat_User_Container_footer_emojis_input{
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 0 auto;
}
.containerChat_User_Container_footer_emojis_input input{
  width: 100%;
  height: 35px;
  padding-left: 6px;
  border: 0;
  border-radius: 8px;
}